body{
    margin: 0;
}
nav{
    background-image: url(si-vola-viaggi-16.jpg);
    height: 450px;
    background-size: cover;
    border: 0;
}


#flexconteiner{
    display: flex;
    height: 60px;
    padding: 20px;
    margin-bottom: 0%;
}


div.flexitemsinistra, .flexitemsinistra a{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 45%;
    font-family: sans-serif;
    font-size: 18px;
    color: white;
}
.flexitemsinistra a:link{
    text-decoration: none;
}
.flexitemsinistra a:hover{
    text-decoration: underline;
}
    
div.logo{
    display: flex;
    align-items: center;
    justify-content: center;  
    width: 50%; 
    margin-left: 25%;
    margin-right: 25%;
}    

div.flexitemdestra, .flexitemdestra a{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    justify-content: space-around ;
    margin-left: 5%;
    width: 25%;
    color: white;
    font-size: 18px;
    font-family: sans-serif;
}
.flexitemdestra a:link{
    text-decoration: none;
}
.flexitemdestra a:hover{
    text-decoration: underline;
}

#menu{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 70%;
    margin-top: 2%;
    margin-left: 15%;
    margin-right: 15%;

}
div.intestazione1, h1{
    font-family: sans-serif;
    font-size: 60px;
    color: white;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;
   
}
div.intestazione2, p{
    font-family: sans-serif;
    font-size: 36px;
    font-weight: lighter;
    color: white;
    margin-top: 0%;
    text-align: center;
}
div.barradiricerca {
    display: flex;
    flex-direction: column;
    background-color: #083633;
    height: 28%;
    width: 90%;
    border-radius: 4px;
    margin-left: 3%;
    margin-right: 3%;
    padding: 20px;
}
.pulsanti, .barradiricerca a, .barradiricerca a:hover{
    text-decoration: none;
    color: hsla(0, 0%, 100%, .7);
    font-size: 16px;
    font-family: sans-serif;
    width: 50%;
    height: 30%;
    justify-content: space-between;
    margin-top: 1%;
}
.barradinavigazione{
    height: 50px;
    margin-top: 0%;
}
.barradinavigazione input{
    font-family: sans-serif;
    font-size: 18px;
    color: grey;
    height: 50px;
    width: 100%;
    border-radius: 6px;
}

header{
    background-image: url(SiVolaFest.jpg);
    height: 500px;
    background-size: cover;
    border: 0;
}
section{
    display: flex;
    height: 80%;
    margin-bottom: 1rem;
}
#destinazioni{
    display: flex;
    flex-direction: column;
    height: 1600px;
    padding: 20px;
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
}
div.destinazionimarzo{
    display: flex;
    flex-direction: row;
    height: 600px;
    width: 100%;
}
div.brasile{
    display: flexs;
    width: 33%;
    background-color: white;
    box-shadow:   5px  5px 2px #efefeff9,
                 -5px -5px 2px #efefeff9,
                  5px -5px 2px #efefeff9,
                 -5px  5px 2px #efefeff9;
}
div.scritta1{
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: flex-start;
    margin-left: 5%;
}
.scritta1 a{
    font-size: 18px;
    font-family: sans-serif;
    color: #767676;
}
div.scritta2{
    display: flex;
    align-items: center;
    margin-left: 5%;
    height: 50px;
}
.scritta2 a{
    color: black;
    font-size: 20px;
    font-family: sans-serif;
}
.scritta2 a:link{
    text-decoration: none;
}
.scritta2 a:hover{
    color: #05a89d;
}
div.prezzo1{
    display: flex;
    justify-content: flex-end;
    align-items: end;
    height: 150px;
    margin-right: 8%;
}
.prezzo1 a{
    font-size: 26px;
    font-family: sans-serif;
    color: #05a89d;
}
div.dettagliviaggio1{
    display: flex;
    align-items: end;
    height: 50px;
    justify-content: flex-end;
    margin-right: 8%;
}
.dettagliviaggio1 a{
    color: white;
    font-size: 18px;
    font-family: sans-serif;
    padding: 8px 18px;
    background-color: #006c65;
    border-radius: 4px;
}
.dettagliviaggio1 a:link{
    text-decoration: none;
}
.dettagliviaggio1 a:hover{
    color: #006c65;
    background-color: white;
    border: 1px solid #006c65;
}
div.peru{
    width: 33%;
    margin-left: 2%;
    margin-right: 2%;
    box-shadow:   5px  5px 2px #efefeff9,
    -5px -5px 2px #efefeff9,
     5px -5px 2px #efefeff9,
    -5px  5px 2px #efefeff9;
}
div.scritta3{
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: flex-start;
    margin-left: 5%;
}
.scritta3 a{
    font-size: 18px;
    font-family: sans-serif;
    color: #767676;
}
div.scritta4{
    display: flex;
    align-items: center;
    margin-left: 5%;
    height: 50px;
}
.scritta4 a{
    color: black;
    font-size: 20px;
    font-family: sans-serif;
}
.scritta4 a:link{
    text-decoration: none;
}
.scritta4 a:hover{
    color: #05a89d;
}
div.prezzo2{
    display: flex;
    justify-content: flex-end;
    align-items: end;
    height: 150px;
    margin-right: 8%;
}
.prezzo2 a{
    font-size: 26px;
    font-family: sans-serif;
    color: #05a89d;
}
div.dettagliviaggio2{
    display: flex;
    align-items: end;
    height: 50px;
    justify-content: flex-end;
    margin-right: 8%;
}
.dettagliviaggio2 a{
    color: white;
    font-size: 18px;
    font-family: sans-serif;
    padding: 8px 18px;
    background-color: #006c65;
    border-radius: 4px;
}
.dettagliviaggio2 a:link{
    text-decoration: none;
}
.dettagliviaggio2 a:hover{
    color: #006c65;
    background-color: white;
    border: 1px solid #006c65;
}

div.america{
    box-shadow:   10px  10px 5px #efefeff9,
    -10px -10px 5px #efefeff9,
     10px -10px 5px #efefeff9,
    -10px  10px 5px #efefeff9;
    width: 33%;
}
div.scritta5{
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: flex-start;
    margin-left: 5%;
}
.scritta5 a{
    font-size: 18px;
    font-family: sans-serif;
    color: #767676;
}
div.scritta6{
    display: flex;
    align-items: center;
    margin-left: 5%;
    height: 50px;
}
.scritta6 a{
    color: black;
    font-size: 20px;
    font-family: sans-serif;
}
.scritta6 a:link{
    text-decoration: none;
}
.scritta6 a:hover{
    color: #05a89d;
}
div.prezzo3{
    display: flex;
    justify-content: flex-end;
    align-items: end;
    height: 150px;
    margin-right: 8%;
}
.prezzo3 a{
    font-size: 26px;
    font-family: sans-serif;
    color: #05a89d;
}
div.dettagliviaggio3{
    display: flex;
    align-items: end;
    height: 50px;
    justify-content: flex-end;
    margin-right: 8%;
}
.dettagliviaggio3 a{
    color: white;
    font-size: 18px;
    font-family: sans-serif;
    padding: 8px 18px;
    background-color: #006c65;
    border-radius: 4px;
}
.dettagliviaggio3 a:link{
    text-decoration: none;
}
.dettagliviaggio3 a:hover{
    color: #006c65;
    background-color: white;
    border: 1px solid #006c65;
}


div.viaggiaprile{
    display: flex;
    flex-direction: row;
    height: 600px ;
    width: 100%;
}
div.egitto{
    display: flexs;
    width: 33%;
    background-color: white;
    box-shadow:   5px  5px 2px #efefeff9,
                 -5px -5px 2px #efefeff9,
                  5px -5px 2px #efefeff9,
                 -5px  5px 2px #efefeff9;
}
div.scritta7{
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: flex-start;
    margin-left: 5%;
}
.scritta7 a{
    font-size: 18px;
    font-family: sans-serif;
    color: #767676;
}
div.scritta8{
    display: flex;
    align-items: center;
    margin-left: 5%;
    height: 50px;
}
.scritta8 a{
    color: black;
    font-size: 20px;
    font-family: sans-serif;
}
.scritta8 a:link{
    text-decoration: none;
}
.scritta8 a:hover{
    color: #05a89d;
}
div.prezzo4{
    display: flex;
    justify-content: flex-end;
    align-items: end;
    height: 150px;
    margin-right: 8%;
}
.prezzo4 a{
    font-size: 26px;
    font-family: sans-serif;
    color: #05a89d;
}
div.dettagliviaggio4{
    display: flex;
    align-items: end;
    height: 50px;
    justify-content: flex-end;
    margin-right: 8%;
}
.dettagliviaggio4 a{
    color: white;
    font-size: 18px;
    font-family: sans-serif;
    padding: 8px 18px;
    background-color: #006c65;
    border-radius: 4px;
}
.dettagliviaggio4 a:link{
    text-decoration: none;
}
.dettagliviaggio4 a:hover{
    color: #006c65;
    background-color: white;
    border: 1px solid #006c65;
}
div.coreasud{
    width: 33%;
    margin-left: 2%;
    margin-right: 2%;
    box-shadow:   5px  5px 2px #efefeff9,
    -5px -5px 2px #efefeff9,
     5px -5px 2px #efefeff9,
    -5px  5px 2px #efefeff9;
}
div.scritta9{
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: flex-start;
    margin-left: 5%;
}
.scritta9 a{
    font-size: 18px;
    font-family: sans-serif;
    color: #767676;
}
div.scritta10{
    display: flex;
    align-items: center;
    margin-left: 5%;
    height: 50px;
}
.scritta10 a{
    color: black;
    font-size: 20px;
    font-family: sans-serif;
}
.scritta10 a:link{
    text-decoration: none;
}
.scritta10 a:hover{
    color: #05a89d;
}
div.prezzo5{
    display: flex;
    justify-content: flex-end;
    align-items: end;
    height: 150px;
    margin-right: 8%;
}
.prezzo5 a{
    font-size: 26px;
    font-family: sans-serif;
    color: #05a89d;
}
div.dettagliviaggio5{
    display: flex;
    align-items: end;
    height: 50px;
    justify-content: flex-end;
    margin-right: 8%;
}
.dettagliviaggio5 a{
    color: white;
    font-size: 18px;
    font-family: sans-serif;
    padding: 8px 18px;
    background-color: #006c65;
    border-radius: 4px;
}
.dettagliviaggio5 a:link{
    text-decoration: none;
}
.dettagliviaggio5 a:hover{
    color: #006c65;
    background-color: white;
    border: 1px solid #006c65;
}

div.india{
    box-shadow:   10px  10px 5px #efefeff9,
    -10px -10px 5px #efefeff9,
     10px -10px 5px #efefeff9,
    -10px  10px 5px #efefeff9;
    width: 33%;
}
div.scritta11{
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: flex-start;
    margin-left: 5%;
}
.scritta11 a{
    font-size: 18px;
    font-family: sans-serif;
    color: #767676;
}
div.scritta12{
    display: flex;
    align-items: center;
    margin-left: 5%;
    height: 50px;
}
.scritta12 a{
    color: black;
    font-size: 20px;
    font-family: sans-serif;
}
.scritta12 a:link{
    text-decoration: none;
}
.scritta12 a:hover{
    color: #05a89d;
}
div.prezzo6{
    display: flex;
    justify-content: flex-end;
    align-items: end;
    height: 150px;
    margin-right: 8%;
}
.prezzo6 a{
    font-size: 26px;
    font-family: sans-serif;
    color: #05a89d;
}
div.dettagliviaggio6{
    display: flex;
    align-items: end;
    height: 50px;
    justify-content: flex-end;
    margin-right: 8%;
}
.dettagliviaggio6 a{
    color: white;
    font-size: 18px;
    font-family: sans-serif;
    padding: 8px 18px;
    background-color: #006c65;
    border-radius: 4px;
}
.dettagliviaggio6 a:link{
    text-decoration: none;
}
.dettagliviaggio6 a:hover{
    color: #006c65;
    background-color: white;
    border: 1px solid #006c65;
}

h3{
    font-family: sans-serif;
    font-size: 32px;
    color: black;
    font-weight: lighter;
}

footer.contenitore{
    padding-top: 3rem;
    background-color: #083633;
    height: 650px;
    background-image: url(https://www.sivola.it/build/si-vola-theme/img/si-vola-bg.svg);
    background-repeat: no-repeat;
    background-position: bottom;
}
#contenitore1{
    display: flex;
    flex-direction: column;
    margin-right: 15%;
    margin-left: 15%;
    height: 100px;
}
div.logo1{
    margin-top: 4%;
    margin-bottom: 4%;
    height: 50px;
}
#contenitore2{
    display: flex;
    flex-direction: row;
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 3%;
    height: 50%;
}
#mesi{
    display: flex;
    flex-direction: column;
    width: 20%;
}
div.quandopartire{
    height: 15%;
}

#mesi1{
    display: flex;
    flex-direction: column;
    width: 20%;
}
div.quandopartire2{
    height: 15%;
}
#componenti{
    display: flex;
    flex-direction: column;
    width: 20%;
}
div.team{
    height: 15%;
}
#informazioni{
    display: flex;
    flex-direction: column;
    width: 20%;
}
div.infoutili{
    height: 15%;
}
#account{
    display: flex;
    flex-direction: column;
    width: 20%;
}
div.Social{
    height: 15%;
}

#contenitore2 a, #contenitore2 a:link{
    text-decoration: none;
    display: block;
    font-size: 15px;
    font-family: sans-serif;
    color: white;
    padding: 4px;
}
#contenitore2 a:hover{
    color: #05a89d;
}
#contenitore2 p{
    font-family: sans-serif;
    font-size: 18px;
    text-align: left;
}
#notelegali{
    display: flex;
    height: 150px;
    width: 40%;
    margin-left: 15%;
    margin-right: 15%;
}
div.scrittainferiore, .scrittainferiore a{
    color: white;
}
